/*************************/
/* Fixing header row */
/*************************/

.table-sticky-container {
  overflow-y: auto; 
  height: 400px;
}

.table-sticky th {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 2;
}

th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

th:before {
  top: -1px;
  border-top: 1px solid #fff;
}

th:after {
  bottom: -1px;
  border-bottom: 1px solid var(--mid-light-grey);
}

.selected {
  background-color: var(--mid-light-grey) !important;
}

.selected:hover {
  background-color: var(--mid-grey) !important;
}

/* .table-fix-head thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: inset 0 1px 0 red, inset 0 -2px 0 red;
}

.table {
  border-collapse: collapse;
} */

/* table:not(tbody) {
  border-collapse: initial !important;
} */

/* table tbody {
  border-collapse: collapse;
} */
